Library/
ProjectSettings/TagManager.asset
ProjectSettings/TimeManager.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/VFXManager.asset
ProjectSettings/XRSettings.asset
UserSettings/EditorUserSettings.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/InputManager.asset
ProjectSettings/NavMeshAreas.asset
Temp/UnityLockfile
Temp/workerlic
.vs/VRSpaceShootingTour/v15/Server/sqlite3/storage.ide
.vs/VRSpaceShootingTour/v15/Server/sqlite3/storage.ide-wal
Temp/UnityTempFile-01d4a76bd8f93fc4195d854679302482
Temp/UnityTempFile-0351f3321d98e8b4e9c76501bce46122
Temp/UnityTempFile-055f8cac67a840f4db5e4db822a27504
Temp/UnityTempFile-091aeb80d3c86954b9fda7411e8ebbda
Temp/UnityTempFile-0fbb9dafcc8da0f449d8d6daed42a72b
Temp/UnityTempFile-12b4e6259536a5c42badc652499ac55c
Temp/UnityTempFile-14afd316734fc2345a606861b0685d1a
Temp/UnityTempFile-16c20c4887e7d584685ce4d2df7a8eb9
Temp/UnityTempFile-16f78d26616075745a170c0bb3717282
Temp/UnityTempFile-1a38b624127dc82449b75477d2f6b35a
Temp/UnityTempFile-1da0f22b79d684044bad3b349522b58b
Temp/UnityTempFile-1e273687b39c0d34eabfcafca362f0fe
Temp/UnityTempFile-200df2a1be3b66940a6b13e23ca26a2a
Temp/UnityTempFile-234d9729c0a176e43b6bc26db472d9d2
Temp/UnityTempFile-2a30dade4b10f1048ae968db77287889
Temp/UnityTempFile-2d6204551a812d64aa59fa580441f806
Temp/UnityTempFile-31cc30a0190a4ac4f8d5120baadff227
Temp/UnityTempFile-31f1d44110b53134daf9269d7e7db805
Temp/UnityTempFile-32de26fc9b1ee9a41b7a5de1729e5f6f
Temp/UnityTempFile-337baa52d63b8994386cec972e63cbbb
Temp/UnityTempFile-34c7d9534a3762746bbdc6f398753dfb
Temp/UnityTempFile-3611dbb6fbaf76d4c813bab2532153e3
Temp/UnityTempFile-378982d40a116fb45ae772a395770e27
Temp/UnityTempFile-3878df95d8d233648b4975549325d5a8
Temp/UnityTempFile-3d0097039228cd74780fe4173b1dc820
Temp/UnityTempFile-3f5581ce023c9e749a5fa54e2e720c4f
Temp/UnityTempFile-419f29f17dcdd1649b9b408f96963c1c
Temp/UnityTempFile-4566b7f06e8953e40bc87ea15834a5cd
Temp/UnityTempFile-4636b60e1dc10434c8fae2dc42e5f484
Temp/UnityTempFile-4a29bed5b2caf1144b8acb10f45b10b6
Temp/UnityTempFile-4ab15e1eb8ca6724c94ba5bf9850fe96
Temp/UnityTempFile-4ad56c2ea6546814aad54be2475d3d12
Temp/UnityTempFile-5287d0d571a4939438718d137499062e
Temp/UnityTempFile-54442ca9ba211934a98c5760bb359e1e
Temp/UnityTempFile-57b19f65052fa334a860ed2ce6a68e5c
Temp/UnityTempFile-5a8c6afdbe2ee9846b8f1b02bd24bf4f
Temp/UnityTempFile-5bc539f8e51539847b4ba74c5bb043d2
Temp/UnityTempFile-5c73d280ccccda74db60c03320b8c634
Temp/UnityTempFile-5c811ea15c8e50742902a09b8d3884cd
Temp/UnityTempFile-5dc27152cdf197642b9c4c231f5d6266
Temp/UnityTempFile-62da809c0f00a9542b04d78dc7682370
Temp/UnityTempFile-65ac037dfd7f94a4db77513cd3ff101b
Temp/UnityTempFile-6693341f828650e4f8fddbc4d3320254
Temp/UnityTempFile-6870007ad7cfddb47af3a2b02006909a
Temp/UnityTempFile-6cd2723b1a200e549b4059008b506c50
Temp/UnityTempFile-6d1394394b97f2a4e97a01650ab9cd26
Temp/UnityTempFile-70235cbb87b24fe4a805aad27b768318
Temp/UnityTempFile-72d05c8d9ef0f7542b168a87314226d7
Temp/UnityTempFile-75106aecbbfd4d1409b5e80936e80401
Temp/UnityTempFile-772b4ea77193b1643a1746a6fe4d08e6
Temp/UnityTempFile-79677cead4b892b40a5c8751386f110c
Temp/UnityTempFile-79e1d6788900bbb4c92222c5000ca04f
Temp/UnityTempFile-7e0e02396bc7fa7429192cbc9d7e4b1e
Temp/UnityTempFile-7e2a151cb73b670459bb95edde63343a
Temp/UnityTempFile-815e7832e8d22624cac587cb8f36fb0b
Temp/UnityTempFile-81c6f8e30ab35ce41a85da44b57b2493
Temp/UnityTempFile-8509c0927d0ab8642abf69ba6bb2d600
Temp/UnityTempFile-852a77c37259e214d8a6f415a19b090c
Temp/UnityTempFile-8a78eb9389e42c74a9af0f704185278b
Temp/UnityTempFile-92c098e5daa0c4749a3307939d3f9787
Temp/UnityTempFile-933b23d4db01ce343af29f0faf8437f7
Temp/UnityTempFile-959dd3df7eb1a5749a1dc74b8cd6ea8b
Temp/UnityTempFile-99359b0d330fba34bbe6492ccf9951c4
Temp/UnityTempFile-9c3cc49f78293d744a3901252d365b18
Temp/UnityTempFile-a2b91b4f92a6b144a9e23275af554b07
Temp/UnityTempFile-a3946108aaf99eb48a63ce2de7222e77
Temp/UnityTempFile-a3c46d4f366b0ce448b99c014987cdce
Temp/UnityTempFile-a50642303f48bfb478448a083248eebd
Temp/UnityTempFile-a53739f1b6a0b934e9555aad2fe9b8e3
Temp/UnityTempFile-a560136c73ecb4b4dbb46781fcb2aad7
Temp/UnityTempFile-ad49993987c92484baa934dcdbc50966
Temp/UnityTempFile-b62c023e75102704085d809bf158399e
Temp/UnityTempFile-b6542da434319094990a3c5e4b5ed93c
Temp/UnityTempFile-b771cee0895dea84b901af7120574a92
Temp/UnityTempFile-b8d21ff472fa552439c166176096e1ff
Temp/UnityTempFile-ba381de8e37fe4a4f8546c40977e109a
Temp/UnityTempFile-bb2676fd7854ddc428798a108362aba0
Temp/UnityTempFile-bbd5816d4b9402e47b4c5798e8fa8397
Temp/UnityTempFile-bd6d96323ef17f04bb5c43c181d41473
Temp/UnityTempFile-be4e08b6454e1304b86b421a3cd5f20e
Temp/UnityTempFile-c3591d488848bb84ca3ec2036a00c6a0
Temp/UnityTempFile-c6384e5fe946ecc4b95b13e11da57577
Temp/UnityTempFile-c69e9723212e7e14b92172bbf4b55d0a
Temp/UnityTempFile-c7b159ca2cc97f24291d1d9266ac72b7
Temp/UnityTempFile-c865b46427645e64ea606e59c9181557
Temp/UnityTempFile-c98295162f8e14d4c826e0e3738f9097
Temp/UnityTempFile-ca32a427f48fa4340b8253b405efee6a
Temp/UnityTempFile-cd407212084aa4a48ae052b8573455d2
Temp/UnityTempFile-d10dc2bf44e4a2f478f699db308cf21d
Temp/UnityTempFile-d5014b060b4352447ab94c9cba2bb815
Temp/UnityTempFile-d7d064adc60c7b34a8379447ee766f77
Temp/UnityTempFile-daef71fb535ff824a94873c2c91ccce6
Temp/UnityTempFile-db6253a4cf0f27c47a9d0724adb23492
Temp/UnityTempFile-df77c4b8616d6e5468f022ea9b12e3fa
Temp/UnityTempFile-e06571a7a99cf3948b0cdfcf466b02d6
Temp/UnityTempFile-e0c14aaee0309c04d9c8a4d339c25674
Temp/UnityTempFile-e0f99cacdd72be84b877b0df23bf88d1
Temp/UnityTempFile-e232dfb7d9f81994699e264096da73c2
Temp/UnityTempFile-e23b4eecde0f80c4089a61125a1e9e8c
Temp/UnityTempFile-e286d00710c3b8845aba07bc788c824f
Temp/UnityTempFile-e8c623b759357754f9ea2029d2f5fb10
Temp/UnityTempFile-eb014046ca5b6d44a9bd17f95aa4d776
Temp/UnityTempFile-eb795db1cbee00b4eaa9069ce852feb0
Temp/UnityTempFile-ec04eb971f8b7b04a986e70f37809f21
Temp/UnityTempFile-f328341a93ed1e74d88708db9267ea04
Temp/UnityTempFile-f70ad2f8edb41f746a5a2d4a8e613715
Temp/UnityTempFile-fa3470420ea661e44b8c3b524edc73e1
Temp/UnityTempFile-fbf4c47d07d36ec4593577b91ed1157b
Temp/__Backupscenes/0.backup
.vs/VRSpaceShootingTour/v15/.suo
.vs/VRSpaceShootingTour/v15/Server/sqlite3/db.lock
.vs/VRSpaceShootingTour/v15/Server/sqlite3/storage.ide-shm
Assets/Car.meta
Assets/Scripts.meta
Assets/XR.meta
Assets/Car/Car.prefab
Assets/Car/Car.prefab.meta
Assets/Car/Material.meta
Assets/Car/Model.meta
Assets/Car/Texture.meta
Assets/Car/Material/Asphalt.mat
Assets/Car/Material/Asphalt.mat.meta
Assets/Car/Material/Car_standard.mat
Assets/Car/Material/Car_standard.mat.meta
Assets/Car/Material/Tire_standard.mat
Assets/Car/Material/Tire_standard.mat.meta
Assets/Car/Model/model_car01.fbx
Assets/Car/Model/model_car01.fbx.meta
Assets/Car/Texture/car_body01.png
Assets/Car/Texture/car_body01.png.meta
Assets/Car/Texture/car_body01N.png
Assets/Car/Texture/car_body01N.png.meta
Assets/Car/Texture/car_tire01.png
Assets/Car/Texture/car_tire01.png.meta
Assets/Car/Texture/car_tire01N.png
Assets/Car/Texture/car_tire01N.png.meta
Assets/Car/Texture/tile_Asphalt.png
Assets/Car/Texture/tile_Asphalt.png.meta
Assets/XR/Loaders.meta
Assets/XR/Settings.meta
Assets/XR/XRGeneralSettings.asset
Assets/XR/XRGeneralSettings.asset.meta
Assets/XR/Loaders/Oculus Loader.asset
Assets/XR/Loaders/Oculus Loader.asset.meta
Assets/XR/Settings/Oculus Settings.asset
Assets/XR/Settings/Oculus Settings.asset.meta
Logs/ApiUpdaterCheck.txt
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe12.log
Logs/shadercompiler-UnityShaderCompiler.exe13.log
Logs/shadercompiler-UnityShaderCompiler.exe14.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/build.force
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/XRPackageSettings.asset
Temp/ApiUpdater_CheckMovedFrom3a7183eaa3d30184a8beb88859f38055
Temp/Assembly-CSharp.dll.hash
Temp/Assembly-CSharp-Editor.dll.hash
Temp/CompilationLog.txt
Temp/Unity.CollabProxy.Editor.dll.hash
Temp/Unity.PlasticSCM.Editor.dll.hash
Temp/Unity.Rider.Editor.dll.hash
Temp/Unity.Services.Core.Editor.dll.hash
Temp/Unity.Subsystem.Registration.dll.hash
Temp/Unity.TextMeshPro.dll.hash
Temp/Unity.TextMeshPro.Editor.dll.hash
Temp/Unity.Timeline.dll.hash
Temp/Unity.Timeline.Editor.dll.hash
Temp/Unity.VisualStudio.Editor.dll.hash
Temp/Unity.VSCode.Editor.dll.hash
Temp/Unity.XR.Management.dll.hash
Temp/Unity.XR.Management.Editor.dll.hash
Temp/Unity.XR.Oculus.dll.hash
Temp/Unity.XR.Oculus.Editor.dll.hash
Temp/UnityEditor.SpatialTracking.dll.hash
Temp/UnityEditor.TestRunner.dll.hash
Temp/UnityEditor.UI.dll.hash
Temp/UnityEditor.XR.LegacyInputHelpers.dll.hash
Temp/UnityEngine.SpatialTracking.dll.hash
Temp/UnityEngine.TestRunner.dll.hash
Temp/UnityEngine.UI.dll.hash
Temp/UnityEngine.XR.LegacyInputHelpers.dll.hash
